@import "../../scss/parametres";

.favorites{
  width: 100%;
  padding-top: 40px;
}

.title{
  font-size: $font-size-big;
  line-height: $line-height-big;
  margin-bottom: 40px;
}

.favorites{
  &List{
    padding: 0;
    margin: 0;
  }

  &Item{
    list-style-type: none;
    background: $color-white;
    border-bottom: 1px solid $color-gray-lighten;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 20px;

    &__title{
      font-weight: 500;
      font-size: $font-size-small;
      line-height: $line-height-medium;
      color: $color-black;
    }
  }
}
