//Colors
$color-white: #fff;
$color-black: #000;
$color-primary: #1890ff;;
$color-gray-light: #FAFAFA;
$color-gray-lighten: #F1F1F1;

//Fonts
$font-size-smallen: 14px;
$font-size-small: 16px;
$font-size-medium: 18px;
$font-size-base: 20px;
$font-size-big: 28px;
$font-size-biggest: 36px;
$line-height-small: 16px;
$line-height-medium: 20px;
$line-height-base: 24px;
$line-height-large: 28px;
$line-height-big: 40px;
$line-height-biggest: 52px;


$header-height: 80px;